{% extends 'base.html' %}

{% block title %}

    Lista de Jogadores - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Jogadores</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'players:add_player' %}">Cadastro de novo jogador</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Inventario</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        <tr>
                            <th scope="row">{{ player.id }}</th>
                            <td>{{ player.first_name }}</td>
                            <td>{{ player.last_name }}</td>
                            <td>{{ player.address }}</td>
                            <td>{{ player.email }}</td>
                            <td>{{ player.player_inventory }}</td>
                            <td>
                                {% for player_inventory in player_inventories %}
                                    {% if player_inventory.player_id == player.id %}
                                        <li>{{ player_inventory.item }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                                <a href="{% url 'players:edit_player' player.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'players:delete_player' player.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                            <td>   
                                <a href="{% url 'playermatches:add_playermatch' player.id %}" class="btn btn-danger btn-sm ">Pedir</a>
                           </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

<!-- COLOCAR SCRIPT PARA INVENTORY ACIMA! -->

<!-- COLOCAR REFERENCIA PARA PLAYERMATCHES ACIMA! -->
