{% extends 'base.html' %}

{% block title %}

    Jogadores em Partidas - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Jogadores em Partidas</b></h5>
        <div class="row">
            <div class ="col-md-12">
            <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Jogador</th>
                    <th scope="col">Partidas do Jogador</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for playermatch in playermatch %}
                        <tr>
                            <th scope="row">
                                {% if playermatch.status == 'Finalizado' or playermatch.status == 'Cancelado' %}
                                    <p style="color:darkgray;" >{{ playermatch.id }}</p>
                                {% else %}
                                    {{ playermatch.id }}
                                {% endif %}
                            </th>
                            <td>
                                {% if playermatch.status == 'Finalizado' or playermatch.status == 'Cancelado' %}
                                    <p style="color:darkgray;" >{{ playermatch.status }}</p>
                                {% else %}
                                    {{ playermatch.status }}
                                {% endif %}
                            </td>
                            <td>
                                {% for player in players %}
                                    {% if playermatch.player_id == player.id %}
                                        {% if playermatch.status == 'Finalizado' or playermatch.status == 'Cancelado' %}
                                            <p style="color:darkgray;" >{{ player.first_name }} {{ player.last_name }}</p>
                                        {% else %}
                                            {{ player.first_name }} {{ player.last_name }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}   
                            </td>
                            <td>
                                {% if playermatch.status == 'Finalizado' or playermatch.status == 'Cancelado' %}
                                    <a href="#" class="btn btn-primary btn-sm disabled">Adicionar itens</a>
                                {% else %}
                                    <a href="{% url 'playermatches:add_playermatch_item' playermatch.id %}" class="btn btn-primary btn-sm">Adicionar itens</a>
                                {% endif %}
                                <br /><br />
                                {% for playermatch_item in playermatches_items %}
                                    {% if playermatch_item.playermatch_id == playermatch.id %}
                                        Partida: {{ playermatch_item.match}}<br /> 
                                        Jogador: {{ playermatch_item.player}}<br />
                                        Quantidade: {{ playermatch_item.quantity}}<br />
                                        <a href="{% url 'playermatches:delete_playermatch_item' playermatch_item.id %}">Excluir Item</a><br /><br />
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'playermatches:edit_playermatch_status' playermatch.id %}" class="btn btn-danger btn-sm ">Alterar Status</a>
                            </td>
                            <td>
                                <a href="{% url 'playermatches:delete_playermatch' playermatch.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

<!--POSSÍVEL ERRO COM ORDER.STATUS-->